.contador{
    min-width: 300px;
    height: 300px;
    font-size: 160px;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid #fff;
    border-radius: 10px;
    margin: 35px 0 35px 0;
    color: #fff;
}